body {
  text-align: center;
  background: url("https://36.media.tumblr.com/tumblr_ma68gfe62v1re3d5zo1_500.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
}
p {
    text-align: center;
}

  
